body {
border: 0.3vw solid #009fff;
    font-family: normal;
border-radius: 8px;
}
::placeholder{
  font-size: 3vw;
  text-align: center
}
input {
  margin-top: 2vh;
  width: 85%;
  height: 8vh;
  border: 1px solid #333;
  border-radius: 9px;

}
input[type="button"]{
  font-size: 3.5vw;
  background: linear-gradient(to right, #008fff, #fff);
  border: 0.4vw solid #ddd;
  border-radius: 2vw;
  color: white;
}
input[type="number"]:hover, input[type="number"]:active{
  animation-name: exam;
  animation-duration: 0.5s;
  outline: 2px solid #008FFF ;
  border: 0.2px solid #333;
}
@keyframes exam{
from{outline: 0px solid #008FFF;
}
to{ outline: 2px solid #008FFF;
}
}
div{
  margin-top: 20vh;
  font-size: 3vh;
  padding-top: 1vh;
  color: #fff;
  background-color: #92CCFA;
  height: 170%;
  width: 86%;
  border-radius: 2vh;
}
section{
  margin-top: 10vh;
}
